black
flake8
pyproject-flake8
pytest
pytest-xdist
nbmake
sphinx-book-theme
sphinxcontrib-jupyter
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
